{% extends "base.html" %}

{% block pageheader %}
<div class="wait">Building...</div>
<div class="ready">Meet Your New Buddy! </div>
{% endblock %}


{% block content %}
<div class="wait">
<center><img src="static/imgs/load.gif"></center>
</div>
<div class="ready">
<br>
<div class="row">
<div class="col-xs-1"></div>
<div class="col-xs-3"><img src="static/imgs/0.png" class="img-circle" alt="User Image"></div>
<div class="col-xs-2"><h2 style="font-weight:600">MaryLou</h2></div>
</div>
<div class="row"><div class="col-md-3"><img style="width:100%" src="static/imgs/meet.png"></div></div>
<div class="row">
<div class="col-md-2"><button type="button" id="chat" class="btn btn-block btn-success">Start Chatting</button></div>
<div class="col-md-4"></div>
</div>
</div>
{% endblock %}

{% block jscript %}
<script>
$( document ).ready(function() {
    $(".ready").hide();
    setTimeout(
      function() 
      {
        $(".ready").show();
        $(".wait").hide();
      }, 2000);
  $('#chat').click(function(){
    window.location = '/chat';
  });
});
</script>
{% endblock %}
