{% extends "base.html" %}

{% block pageheader %}
Create a Personality
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12 text-center"><strong>Openess</strong></div>
    </div><div class="row">
    <div class="col-xs-6">Cautious</div>
    <div class="col-xs-6"><span class="pull-right">Curious</span></div>
  </div><!--row-->
<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>

          <div class="row">
    <div class="col-md-12 text-center"><strong>Conscientiousness</strong></div>
    </div><div class="row">
    <div class="col-xs-6">Easy-going</div>
    <div class="col-xs-6"><span class="pull-right">Organized</span></div>
  </div><!--row-->
<input id="ex2" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>

  <div class="row">
    <div class="col-md-12 text-center"><strong>Extraversion</strong></div>
  </div><div class="row">
    <div class="col-xs-6">Reserved</div>
    <div class="col-xs-6"><span class="pull-right">Outgoing</span></div>
  </div><!--row-->
<input id="ex3" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>


          <div class="row">
    <div class="col-md-12 text-center"><strong>Agreeableness</strong></div>
    </div><div class="row">
    <div class="col-xs-6">Analytical/detached</div>
    <div class="col-xs-6"><span class="pull-right">Compassionate</span></div>
  </div><!--row-->
<input id="ex4" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>


          <div class="row">
    <div class="col-md-12 text-center"><strong>Neuroticism</strong></div>
    </div><div class="row">
    <div class="col-xs-6">Confident</div>
    <div class="col-xs-6"><span class="pull-right">Nervous</span></div>
  </div><!--row-->
<input id="ex5" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
         <br><br>
          <div class="row">
<div class="col-md-2"><button type="button" id="build" class="btn big-btn btn-block btn-primary">Build My Buddy</button></div>
<div class="col-md-5"></div>
</div><!--row-->

{% endblock %}

{% block jscript %}
<script>
$( document ).ready(function() {
  var slider1 = $('#ex1').slider({
    formatter: function(value) {
      return 'Openess: ' + value;
    }
  });
  var slider2 = $('#ex2').slider({
    formatter: function(value) {
      return 'Conscientiousness: ' + value;
    }
  });
  var slider3 = $('#ex3').slider({
    formatter: function(value) {
      return 'Extraversion: ' + value;
    }
  });
  var slider4 = $('#ex4').slider({
    formatter: function(value) {
      return 'Agreeableness: ' + value;
    }
  });
  var slider5 = $('#ex5').slider({
    formatter: function(value) {
      return 'Neuroticism: ' + value;
    }
  });
  $('#build').click(function(){
    openess = slider1.slider('getValue');
    conscientiousness = slider2.slider('getValue');
    extraversion = slider3.slider('getValue');
    agreeableness = slider4.slider('getValue');
    neuroticism = slider5.slider('getValue');
    console.log('build' + openess + '\n' + conscientiousness + '\n' + extraversion + '\n' + agreeableness + '\n' + neuroticism);
    window.location = '/meet'
  });
});
   </script>


{% endblock %}

